body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: space-between;
    
}
.container >div{
    width: 100%;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    align-self: center; 
}

input {
    width: 76%;
    padding: 15px;
    border:none;
    font-size: 16px;
    border-radius :4px;
    border: 1px solid #ddd;
}

button {
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button {
    background-color: #3aba3a;
    color: white;
    margin-right: 0;
}

.add-button:hover {
    background-color: #4cae4c;
}

.complete-button {
    background-color: #1f7bfb;
    color: white;
    flex: 1;
}

.complete-button:hover {
    background-color: #2f05ed;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    flex: 1;
}

.delete-button:hover {
    background-color: #f60e06;
}

.task {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    gap: 5px;
    width: 350px;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task p {
    flex: 3;
    margin: 0;
    font-size: 16px;
    color: #333;
    text-align: left; 
}

div {
    width: 100%;
}
.add-task{
    justify-content:space-between;
   
}
